html{
  line-height: 1.5;
  box-sizing: border-box;
}

  *, *::before, *::after {
    box-sizing: inherit;
}

body{
  background-color: #eee9de;
  line-height: 1.5;
  margin: 0;
}

*, *::before, ::after {
  box-sizing: inherit;
}

img{
  float: left;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  display: block;
  width: inherit;
}

div{
  display: inline-block;
  vertical-align: middle;
  text-align: left;

}
.text {
  float: left;
  margin-left: 1.5rem;
}

h2{
  font-family: "Lato", "sans-serif";
  color: #333;
}

section {
  text-align: center;
}

p{
    font-family: "Lato", "sans-serif";
    max-width: 25em;
}

.btn{
  padding: .4em .75em .5em;
  border: solid #666;
  font-family: "Lato", "sans-serif";
  display: inline;
  border-radius: 10px;
}

.btn:hover {
  background-color: #666;
  color: #eee9de;
}
