html{
  line-height: 1.5;
  box-sizing: border-box;
}

  *, *::before, *::after {
    box-sizing: inherit;
}

body{
  background-color: #eee9de;
  line-height: 1.5;
  margin: 0;
}

*, *::before, ::after {
  box-sizing: inherit;
}

img{
  float: left;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  display: block;
  width: 23em;
}

div{
  display: inline-block;
  vertical-align: middle;
  text-align: left;

}
.text {
  float: left;
  margin-left: 1.9rem;
  margin-top: -0.65rem;
}

h2{
  font-family: "Lato", "sans-serif";
  color: #333;
}

section {
  text-align: center;
  margin-left: 1rem;
  margin-top: 1.5rem;
  max-width: 25em;
  margin-right: 1.5rem;
}

p{
    font-family: "Lato", "sans-serif";
    max-width: 25em;
}

.text{
  padding-left: 1em;
  text-align: left;
  display: inline-block;
  max-width: 25em;
  padding-top: 1.5em;
  padding-right: 1.5rem;
}

.btn{
  padding: .6em .80em .7em;
  border: 3px solid #333;
  border: solid #666;
  font-size: 1.125em;
  font-family: "Lato", "sans-serif";
  display: inline;
  margin-bottom: 3rem;
  border-radius: 9px;
}

.btn:hover {
  background-color: #666;
  color: #eee9de;
}
