body{
  background-color: #eee9de;
  line-height: 1.5;
}

img{
  float: left;
  padding: 1em, 2em;
  max-width: *;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}

h1{
  font-family: "Lato", "sans-serif";
  color: #333;
  margin: 1.5rem;
}

p{
    font-family: "Lato", "sans-serif";
    margin: 1.5rem;
}

a {
  padding: .4em .75em .5em;
  display: inline-block;
  border-style: solid;
  font-family: "Lato", "sans-serif";
  border-color: #333;
  text-decoration: none;
  border-radius: 8px;
  color: #333;
  margin: 1.5rem;
  width: 25em
}
